html, body{
    width: 100%;
    height: 100%;
}
input{
    outline: none !important;
}
a:active, a:focus, a:hover, a:visited{
    text-decoration: none !important;
}
.error-input{
    border: 1px solid red !important;
}
.az-fixed{
    width: 100%;
    height: 100%;
}
.az-fixed2{
    position: fixed;
    //top: 0px;
    //left: 0px;
    width: 100%;
}
.az-content{
    width: 100%;
    min-height:100%;
}
.buffer{
    height: 60px;
}
.az-footer{
    height: 60px;
    margin-top: -60px;
}
.az-rel{
    position: relative;
}

.clear{
	clear: both;
}

.anz-block2 div[class|="col"]{
	padding: 0px;
}

div[class|="col"]{
    position: static;
}
.az-disp-none{
    display: none;
}
.az-activity, .az-eventtype{
    cursor: pointer;
}
.header{
    width: 100%;
    height: 60px;
    background: #eee;
    margin-bottom: 20px;
}

h2{
    text-transform: uppercase;
    font-size: 18px;
    font-family: "OpenSans-Regular";
    letter-spacing: 0.05em;
    color: #000;
    display: block;
    padding: 10px 10px;
    //text-align: center;
}

.az-style1{
    display: inline-block;
    font-family: "OpenSans-Regular";
    font-size: 12px;
    color: #000;
    padding: 0 2px;
    a{
       color: #000; 
    }
}
.az-style2{
    display: inline-block;
    font-family: "MyriadPro-SemiboldSemiExt";
    font-size: 14px;
    color: #000;
    padding: 0 2px;
}
.az-style4{

    font-size: 12px;

}
.az-popup{
    width: 800px;
    background: #fff;
    padding: 20px;
}

/*header*/
.log-exit{
    text-align: right;
    //padding-right: 50px;
    form{
        display: inline-block;
    }
}
.az-login{
    height: 60px;
    line-height: 60px;
    font-family: "OpenSans-Regular";
    font-size: 12px;
    display: inline-block;
    margin-right: 20px;
}
.az-exit{
    height: 60px;
    line-height: 60px;
    font-family: "OpenSans-Regular";
    font-size: 12px;
    display: inline-block;
    border: none;
    background: none;
    color: blue;
}
/*header*/

/*menu style*/
.main-menu{
    text-align: center;
    li{
        display: inline-block;
        //height: 30px;
        line-height: 30px;

    }
    a{
        display: block;
        padding: 0 15px;
        height: 30px;
        line-height: 30px;
        font-family: "MyriadPro-Semibold";
        font-size: 14px;
        color: #16a085;
        text-transform: uppercase;
        //margin-right: 40px;
        letter-spacing: 0.0em;
    }
    .margin-right-none{
        margin-right: 0px;
    }
    a:hover{
        color: #fff;
        background: #16a085;
        text-decoration: none;
    }
    .current-link{
        color: #fff;
        background: #16a085;     
    }
}
/*menu style*/

/*icons*/

div.icons{
    margin-top: 25px;
    border: 1px solid #16a085;
    padding: 5px 3px;
    text-align: center;
    margin: 0px auto 30px auto;
    max-width: 500px;

    //margin-top: 5px;

        a{
            display: inline-block;
            color: #16a085;
            border-radius: 3px;
            font-size: 14px;
            padding: 0 8px;
            height: 30px;
            line-height: 30px;
            i{
                font-size: 14px;
            }
        }
        a:hover{
            color: #fff;
            background: #16a085;
            border-radius: 3px;
        }

}
div.icons_style{
    border: none;
    margin-top: 0px;
}

.az-span{
    display: block;
    font-family: "MyriadPro-SemiboldSemiExt";
    font-size: 14px;
    color: #000;
    text-align: center;
}
/*icons*/


/*table*/
.az-sec-table{
    //padding: 30px;
}
.az-table{
    width: 100%;
}
.table-head{
    font-family: "OpenSans-Semibold";
    font-size: 14px;
    color: #000;
    background: darken(#27ae60, 10%);
    th{
        padding: 5px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
    }
}
.table-content{
    font-family: "OpenSans-Regular";
    font-size: 12px;
    color: #000;
    td{
        padding: 5px;
        //text-transform: uppercase;
        text-align: center;
        vertical-align: middle !important;
        a, a:hover, a:active, a:focus{
            color: #000;
        }
    }
    tr:nth-child(2n){
        background: #bdc3c7;
        color:#fff;
        border-bottom: 1px solid #ccc;
        a, a:hover, a:active, a:focus{
            color: #fff;
        }
    }
    tr:nth-child(2n):hover{
        background: #bdc3c7;
        color:#fff;
        border-bottom: 1px solid #ccc;
    }

}
/*table*/

.az-center{
    text-align: center;
}


/*cols*/
.az-row{
    display: block;
    width: 100%;
    font-size: 0px;
}

.az-col-10{
    display: inline-block;
    width: 20%;
    margin-right: 1%;
    font-size: 12px;
    vertical-align: top;
}
.az-col-20{
    display: inline-block;
    width: 20%;
    margin-right: 1%;
    font-size: 12px;
    vertical-align: top;
}
.az-col-30{
    display: inline-block;
    width: 30%;
    margin-right: 1%;
    font-size: 12px;
    vertical-align: top;
}
.az-col-40{
    display: inline-block;
    width: 30%;
    margin-right: 1%;
    font-size: 12px;
    vertical-align: top;
}
.az-col-49{
    display: inline-block;
    width: 49%;
    margin-right: 2%;
    font-size: 12px;
    vertical-align: top;
}
.az-col-50{
    display: inline-block;
    width: 49%;
    //margin-right: 2%;
    font-size: 12px;
    vertical-align: top;
}
.az-col-58{
    display: inline-block;
    width: 58%;
    margin-right: 1%;
    font-size: 12px;
    vertical-align: top;
}
.az-col-69{
    display: inline-block;
    width: 69%;
    margin-right: 1%;
    font-size: 12px;
    vertical-align: top;
}
.az-col-100{
    display: inline-block;
    width: 100%;
    //margin-right: 1%;
    font-size: 12px;
    vertical-align: top;
}
.az-col-100-px{
    display: inline-block;
    width: 100px;
    margin-right: 1%;
    font-size: 12px;
    //vertical-align: top;
}
.az-col-150-px{
    display: inline-block;
    width: 150px;
    margin-right: 1%;
    font-size: 12px;
    vertical-align: top;
}
.az-col-175-px{
    display: inline-block;
    width: 175px;
    margin-right: 1%;
    font-size: 12px;
    vertical-align: top;
}
.az-col-200-px{
    display: inline-block;
    width: 200px;
    margin-right: 1%;
    font-size: 12px;
    vertical-align: top;
}
.az-col-100-20-px{
    display: inline-block;
    width: calc(100% - 20px);
    margin-right: 1%;
    font-size: 12px;
    //vertical-align: top;
}
.az-col-100-24-px{
    display: inline-block;
    width: calc(100% - 24px);
    margin-right: 1%;
    font-size: 12px;
    //vertical-align: top;
}
.az-col-99-100-px{
    display: inline-block;
    width: calc(99% - 100px);
    margin-right: 1%;
    font-size: 12px;
    //vertical-align: top;
}
.az-col-98-200-px{
    display: inline-block;
    width: calc(98% - 200px);
    margin-right: 1%;
    font-size: 12px;
    //vertical-align: top;
}
.az-col-99-200-px{
    display: inline-block;
    width: calc(99% - 200px);
    margin-right: 1%;
    font-size: 12px;
    //vertical-align: top;
}
.az-col-98-300-px{
    display: inline-block;
    width: calc(98% - 300px);
    margin-right: 1%;
    font-size: 12px;
    vertical-align: top;
}
.az-col-49-100-px{
    display: inline-block;
    width: calc(49% - 100px);
    margin-right: 1%;
    font-size: 12px;
    vertical-align: top;
}
.az-col-30-100-px{
    display: inline-block;
    width: calc(30% - 100px);
    margin-right: 1%;
    font-size: 12px;
    vertical-align: top;
}
.az-col-44-100-px{
    display: inline-block;
    width: calc(44% - 100px);
    margin-right: 1%;
    font-size: 12px;
    vertical-align: top;
}
.az-col-45-100-px{
    display: inline-block;
    width: calc(45% - 100px);
    margin-right: 1%;
    font-size: 12px;
    vertical-align: top;
}
.az-col-push-30{
    margin-right: 30%;
    vertical-align: top;
}
.az-col-push-10{
    margin-right: 10%;
    vertical-align: top;
}
.az-col-push-0{
    margin-right: 0%;
    // vertical-align: top;
}
[class*="az-col"]:last-child{
    margin-right: 0px;
    //vertical-align: top;
}

@media only screen and (max-width : 480px) {
    .az-col-xs-hidden{
        display: none;
    }
    .az-col-xs-99-100-px{
        display: inline-block;
        width: calc(99% - 100px);
        margin-right: 1%;
        font-size: 12px;
        //vertical-align: top;
    }
    .az-col-xs-49{
        display: inline-block;
        width: 49%;
        margin-right: 2%;
        font-size: 12px;
        vertical-align: top;
    }
    .az-col-xs-100-px{
        display: inline-block;
        width: 100px;
        margin-right: 1%;
        font-size: 12px;
        vertical-align: top;
    }
    .az-col-xs-push-0{
        margin-right: 0px;
        vertical-align: top;
    }

}


/*cols*/


/*form filters*/
.az-form{
   margin: 10px 0px;
   position: relative;
   font-family: "OpenSans-Regular";
    input{
        height: 25px;
        padding: 0px 10px;
        border-radius: unset;
        font-size: 12px;
        outline: none;
        box-shadow: none;
        border: 1px solid #ccc;
    }
    input:focus{
        height: 25px;
        padding: 0px 10px;
        border-radius: unset;
        font-size: 12px;
        outline: none;
        box-shadow: none;
        border: 1px solid #ccc;
    }
}
.az-form_style{
    width: 250px;
    margin-left: calc(50% - 125px);
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 25px;
    border: 1px solid #27ae60;
    box-shadow: 0 0 5px lighten(#27ae60, 30%);
    background: lighten(#27ae60, 50%);
    border-radius: 3px;
}
.az-separate{
    margin: 10px 0px;
}
.az-search{
    position: absolute;
    top: 2px;
    left: calc(58% - 22px);
    background: transparent;
    border: none;
    outline: none;
    //width: 12px;
    //height: 12px;
    color: #ccc;
    font-size: 12px;
}
.az-search2{
    position: absolute;
    top: 7px;
    left: calc(98% - 222px);
    background: transparent;
    border: none;
    outline: none;
    //width: 12px;
    //height: 12px;
    color: #ccc;
    font-size: 12px;
}
.az-search2-1{
    position: absolute;
    top: 3px;
    left: calc(99% - 222px);
    background: transparent;
    border: none;
    outline: none;
    //width: 12px;
    //height: 12px;
    color: #ccc;
    font-size: 12px;
}
.az-search3{
    position: absolute;
    top: 7px;
    left: calc(100% - 133px);
    background: transparent;
    border: none;
    outline: none;
    //width: 12px;
    //height: 12px;
    color: #ccc;
    font-size: 12px;
}
.az-search4{
    position: absolute;
    top: 3px;
    left: calc(100% - 22px);
    background: transparent;
    border: none;
    outline: none;
    //width: 12px;
    //height: 12px;
    color: #ccc;
    font-size: 12px;
}
/*form*/

/*table-buttons*/
.next-prev{
    text-align: center;
    margin: 20px 0px;
    font-size: 0px;
    li{
        display: inline-block;
        //height: 30px;
        width: 120px;
        margin: 0px 10px;
        position: relative;
        a{
            display: block;
            height: 30px;
            line-height: 30px;
            width: 100%;
            border: 1px solid #1e8449;
            border-radius: 3px;
            font-family: "OpenSans-Regular";
            font-size: 14px;
            color: #1e8449;
        }
        a:hover{
            background: #1e8449;
            color: #fff;
            text-decoration: none;
        }
    }
    li.az-disabled{
        a{
            
            cursor: default;
            border: 1px solid lighten(#1e8449,10%);
            color: lighten(#1e8449,10%);
        }
        a:hover{
            border: 1px solid lighten(#1e8449,10%);
            color: lighten(#1e8449,10%);
            background: #fff;
        }

    }
    li.az-disabled:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 2;
    }
}
/*table-buttons*/


/*footer*/
.footer{
    text-align: center;
    background: darken(#bdc3c7, 40%);
    span{
        font-family: "OpenSans-Regular";
        font-size: 12px;
        color: #fff;
        line-height: 60px;
    }
}
/*footer*/


/*entrance*/
.enrtance{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    text-align: center;
    width: 260px;
    input[type='text'], input[type='password']{
        width: 230px;
        margin: 5px 0px;
        height: 25px;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        padding: 0px 5px;
        font-family: "OpenSans-Regular";
        font-size: 13px;
    }
    input[type='text']:focus, input[type='password']:focus{
        border-bottom: 1px solid #16a085;
    }
    input[type='submit']{
        width: 230px;
        margin: 5px 0px;
        height: 30px;
        border: none;
        //border-bottom: 1px solid #ccc;
        outline: none;
        padding: 0px 5px;
        font-family: "OpenSans-Regular";
        font-size: 14px;
        background: #ddd;
    }
}
/*entrance*/


/*eventtype*/
.main-menu2{
    display: none;
    margin-top: 20px;
}
.eventtype{
    display: table;
    width: 100%;
    padding: 3px 0px;
    img{
        display: table-cell;
        vertical-align: middle;
    }
    span{
        display: table-cell;
        vertical-align: middle;
    }
}


/*eventtype*/



/*banner*/
.banner{
    //display: table;
    outline: 1px solid #111;
    width: 100%;
    height: 200px;
    margin: 30px 0px;
    text-align: center;
    line-height: 200px !important;
    color: #000;
}
/*banner*/

/*button add*/
.az-button-add{
    padding: 0px 5px;
    font-family: "OpenSans-Regular";
    font-size: 12px;
    background: #ddd;
    text-align: center;
    height: 25px;
    line-height: 25px;
    color: #000;
    margin-top: 5px;
}
.az-button-add:hover{
    padding: 0px 5px;
    font-family: "OpenSans-Regular";
    font-size: 12px;
    background: #ddd;
    text-align: center;
    height: 25px;
    line-height: 25px;
    color: #000;
    text-decoration: none;
}
/*button add*/

/*settings*/
.az-label{
    font-family: "MyriadPro-SemiboldSemiExt";
    font-size: 14px;
    display: inline-block;
    margin-bottom: 2px;

    //box-shadow: inset 0 0 5px #000;
}
.az-label_margin{
    margin-top: 10px;
}
.az-input{
    //box-shadow: inset 0 0 5px #ccc;
    border: 1px solid #27ae60;
    box-shadow: inset 0 0 3px lighten(#27ae60, 40%);
}
.az-warning{
    padding: 15px;
    border: 1px solid #fec524;
    color: darken(#fec524, 20%);
    font-family: "OpenSans-Regular";
    font-size: 14px;
    background: lighten(#fec524, 30%);
    max-width: 550px;
    margin: 30px auto;
    strong{
        font-family: "OpenSans-Bold";
    }
    //height: 20px;
}
/*settings*/

/*ah-activ1_style*/
.ah-activ1_style{
    font-size: 12px;
    line-height: 17px;
    outline: none;
    margin: 5px 0px;
}
/*ah-activ1_style*/


/*file*/
#azfile{
    display: none;
    
}
/*file*/


.datepicker{
    font-family: "OpenSans-Regular";
    font-size: 13px;
}

.event-input{
    cursor: pointer;
    margin-top: 5px;
    padding: 0 5px;
    width: 100% !important;
}
.date-input{
    cursor: pointer;
    margin-top: 5px;
    /*padding: 0 5px;*/
    width: 100% !important;
}
.az-block{
    display: block;
    width: 100%;
}
.az-margin{
    margin-top: 5px;
    margin-bottom: 0px !important;
}
.az-select{
    font-size: 14px;
    padding: 0 5px;
    height: 25px;
}
textarea{
    font-size: 14px;
    padding: 5px;
}

/*404 page*/
.p404-pad{
    padding: 15px;
}
.p404{
    font-family: "OpenSans-Bold";
    font-size: 33px;
}
.p404-2{
    font-family: "OpenSans-Regular";
    font-size: 23px;
}
/*404 page*/

/*datepicker*/
.dropdown-menu{
    padding: 5px 5px;
}
/*datepicker*/
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	// /*menu style*/
 //    .main-menu{
 //        a{
 //            font-family: "MyriadPro-SemiboldSemiExt";
 //            font-size: 16px;
 //            color: #000;
 //            text-transform: uppercase;
 //            letter-spacing: 0.03em;
 //            margin-right: 30px;
 //        }

 //    }
 //    /*menu style*/
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    
    .az-popup{
        width: 100%;
        background: #fff;
        padding: 10px;
    }
    h2 {
        padding: 10px 13px;
    }
    .anz-desktop-991{
        display: none;
    }


        /*menu*/
    

    #check_1{
        display: none;
    }
    .anz-perspective{
        -webkit-perspective: 500px; 
        perspective: 500px;

    }
    .menu-list-pressed{
        
    }
    #check_1:checked ~ .anz-perspective{
        transition: all 1s ease-in-out;
        left: 0px;
    }
    #check_1 ~ .anz-perspective{
        transition: all 1s ease-in-out;
        left: -310px;
    }

    #check_1:checked ~ .anz-perspective .menu-list-pressed{
        transition: all 1s ease-in-out;
        transform: rotateY(0deg);
    }
    #check_1 ~ .anz-perspective .menu-list-pressed{
        transition: all 1s ease-in-out;
        transform: rotateY(100deg);
    }

    #check_1 ~ .anz-menu-ch .fa-bars{
        display: block;
    }
    #check_1 ~ .anz-menu-ch .fa-times{
        display: none;
    }
    #check_1:checked ~ .anz-menu-ch .fa-bars{
        display: none;
    }
    #check_1:checked ~ .anz-menu-ch .fa-times{
        display: block;
    }
    .menu-list-pressed {
        //position: fixed;
        //padding: 40px 50px;
        
    }
    .anz-menu{
        //cursor: pointer;
        //font-size: 28px;
    }

    .anz-menu-ch{
        color: #fec524;   
        cursor: pointer; 
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 21px;
        z-index: 3;
    }
    /*menu*/
        /*menu style*/
    .anz-perspective{
        position: fixed;
        width: 250px;
        height: 100%;
        top: 0px;
        z-index: 3;
    }

    .menu-list-pressed {
        //position: fixed;
        width: 250px;
        height: 100%;
        top: 0px;
        z-index: 1000;
        color: #fff;
        background: white;//#ffd4a5;
        border: 1px solid #828089;
        box-shadow: 0px 0px 5px #828089;
    }
    .main-menu{
        text-align: left;
        padding: 20px;
        li{
            display: block;
            //height: 55px;
            //line-height: 55px;

            a{
                display: block;
                //line-height: 25px;
            }
        }
        li:hover{

        }
    }
    .main-class-of-the-form{
        max-width: 480px;
        margin: 16px auto;
    }
    .anz-form{
        width: 100%;
        padding: 0px 30px;
    }
    /*menu style*/


        /*icons*/
    div.icons{
        a{
            display: inline-block;
            color: #16a085;
            border-radius: 3px;
            font-size: 14px;
            padding: 0 8px;
            i{
                font-size: 14px;
            }
        }
        a:hover{
            color: #fff;
            background: #16a085;
            border-radius: 3px;
        }

    }
    /*icons*/
}

@media only screen and (max-width : 850px) {

}
@media only screen and (max-width : 825px) {
    /*header*/
    .log-exit{
        padding-right: 50px;
    }
    /*header*/
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .anz-desktop-768{
        display: none;
    }

        /*header*/
    .log-exit{
        // padding-right: 50px;
    }
    /*header*/

    /*table*/
    .az-sec-table{
        //padding-top: 50px;
    }
    /*table*/


    // .az-activity, .az-eventtype{
    //     cursor: pointer;
        .formwrapper5box{
            display: block !important;
        }
    // }






}

@media only screen and (max-width : 516px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .anz-desktop-480{
        display: none;
    }
	/*table*/
    .az-table{
        //margin-left: -15px;
        //width: calc(100% + 30px);
        //margin-right: -15px;
    }
    .table-head{
        font-family: "OpenSans-Semibold";
        font-size: 14px;
        color: #000;
        background: darken(#27ae60, 10%);
        th{
            padding: 4px !important;
            text-transform: uppercase;
            color: #fff;
        }
        th:nth-child(4), th:nth-child(5){
            display: none;
        }
    }
    .table-content{
        font-family: "OpenSans-Regular";
        font-size: 12px;
        color: #000;
        td{
            padding: 4px !important;
            //text-transform: uppercase;
            text-align: center;
            vertical-align: middle;   
        }
        tr:nth-child(2n){
            background: #bdc3c7;
            
            color:#fff;
            border-bottom: 1px solid #ccc;
            td{

            }
        }
        td:nth-child(4), td:nth-child(5){
            display: none;
        }


    }
    /*table*/
    .az-search2{
        left: calc(99% - 122px);
    }
    .az-search2-1{
        left: calc(99% - 122px);
    }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 390px) {


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .anz-desktop-320{
        display: none;
    }
    /*table-buttons*/
    .next-prev{
        text-align: center;
        margin: 20px 0px;
        font-size: 0px;
        li{
            display: inline-block;
            //height: 30px;
            width: 120px;
            margin: 0px 7px 0 0;
            position: relative;
        }
    }
    /*table-buttons*/
}

@media screen and (min-device-aspect-ratio: 16/9) {

}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .anz-mobile-320{
        display: none;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .anz-mobile-480{
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .anz-mobile-768{
        display: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .anz-mobile-992{
        display: none;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
}

@media only screen and (min-width : 1400px) {
	
}

@media only screen and (min-height : 930px) {
	
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //padding: 0px;
    //margin: 0px;
    //outline: 1px solid red;
    outline: none !important;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    //padding: 0px;
    //margin: 0px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    //padding: 0px;
    //margin: 0px;    
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    //padding: 0px;
    //margin: 0px;
}














